@define-color bg @base00;
@define-color fg @base05;

* {
  min-height: 16px;
  font-family: JetBrains Mono, FontAwesome;
  font-size: 12px;
  font-weight: 900;
  /* outline: 2px solid @fg; */
  /* outline-offset: -2px; */
}

window#waybar {
  transition: all 0.5s ease-in-out;
  opacity: 1;
  background-color: @bg;
}

/* window#waybar.hidden { */
/* opacity: 0; */
/* margin-top: -50px; */
/* } */

#workspaces {
  background: @bg;
  padding-left: 10px;
  padding-right: 15px;
}

#workspaces button {
  padding: 0px 2px;
  margin: 0px 2px;
  /* border: 1px; */
  border-radius: 0px;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  color: @bg;
  background: @fg;
  min-width: 30px;
  transition: all 0.2s ease-in-out;
}

#workspaces button.urgent {
  background: @base08;
}

.module {
  background: @bg;
  color: @fg;
  padding-right: 10px;
  padding-left: 10px;
}

tooltip {
  background: @bg;
  color: @fg;
}

#mpris {
  font-weight: 600;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

#tray {
  margin-left: 10px;
  margin-right: 10px;
}